<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>
    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-6 vcenter">
            <h1>My Portfolio</h1>
        </div><!--
     --><div class="col-xs-6 vcenter">
            <a class="btn btn-info pull-right" href="?force_refresh=true"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh</a>
        </div>
    </div>
<div class="row">
    <div class="col-xs-6">
        <p>1 USD = {{ positions['usdcad'] }} CAD</p>
    </div>
    <div class="col-xs-6">
        <p class="pull-right">As Of {{positions['asof'] | time }}</p>
    </div>
</div>
<table class="table">
<thead>
<tr>
    <th>Category</th>
    <th>Ticker(s)</th>
    <th><div class="pull-right">Target %</div></th>
    <th><div class="pull-right">Current %</div></th>
    <th><div class="pull-right">Target $</div></th>
    <th><div class="pull-right">Market Value</div></th>
</tr>
</thead>
<tbody>
{% for category in positions['categories'] %}
<tr class="{{ 'danger' if category['rebalance'] else '' }}">
    <td>{{ category['name'] }}</td>
    <td>
        {% for ticker in category['tickers'] %}
            <a target="_blank" href="https://finance.yahoo.com/q?s={{ ticker }}">{{ ticker }}</a><br>
        {% endfor %}
    </td>
    <td><div class="pull-right">{{ category['target%'] | pct }}%</div></td>
    <td><div class="pull-right">{{ category['current%'] | pct }}%</div></td>
    <td><div class="pull-right">{{ category['target'] | money }}</div></td>
    <td><div class="pull-right">{{ category['mktvalue'] | money }}</div></td>
{% endfor %}
</tr>
</tbody>
<tfoot>
<tr>
    <td colspan="5"><div class="pull-right">Total Market Value</div></td>
    <td><div class="pull-right">{{ positions['total'] | money }}</div></td>
</tr>
</tfoot>
</table>
</div>
</body>
</html>
