<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/template.js"></script>
    <style>
    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
    </style>
    <script type="text/html" id="table_tmpl">
    <table class="table">
    <thead>
    <tr>
        <th>Category</th>
        <th class="hidden-xs">Ticker(s)</th>
        <th class="hidden-xs text-right">Target %</th>
        <th class="hidden-xs text-right">Current %</th>
        <th><div class="pull-right">Target $</div></th>
        <th><div class="pull-right">Market Value</div></th>
    </tr>
    </thead>
    <tbody>
    <% for (var i = 0; i < portfolio['categories'].length; i++) { var category = portfolio['categories'][i]; %>
    <tr class="cat <%= category['rebalance']? 'danger': '' %>" data-toggle="collapse" data-target="#catdtl<%= i %>">
        <td><%= category['name'] %></td>
        <td class="hidden-xs">
            <% for (var j = 0; j < category['tickers'].length; j++) { var ticker = category['tickers'][j]; %>
                <a target="_blank" href="https://finance.yahoo.com/q?s=<%= ticker %>"><%= ticker %></a><br>
            <% } %>
        </td>
        <td class="hidden-xs text-right"><%= formatters.pct(category['target%']) %></td>
        <td class="hidden-xs text-right"><%= formatters.pct(category['current%']) %></td>
        <td class="text-right"><%= formatters.money(category['target']) %></td>
        <td class="text-right"><%= formatters.money(category['mktvalue']) %></td>
    </tr>
    <tr id="catdtl<%= i %>" class="catdtl collapse">
        <td colspan="6">
        <table style="width:100%">
        <thead>
            <tr>
                <th>Ticker</th>
                <th class="text-right">Quantity</th>
                <th class="text-right">Market Value</th>
                <!--<th></th>-->
            </tr>
        </thead>
        <% for(var ticker in portfolio['positions']){ var holding = portfolio['positions'][ticker]; %>
        <% if(holding['category'] == category['name']) { %>
        <tr>
        <td><%= ticker %></td>
        <td class="text-right">
            <%= holding['qty'] %> <!--<input style="margin:5px" class="text-right form-control" type="text" value="<%= holding['qty'] %>"> -->
        </td>
        <td class="text-right"><%= formatters.money(holding['mktvalue']) %></td>
        <!--<td><button class="btn btn-default pull-right">Save</button></td>-->
        </tr>
        <% } %>
        <% } %>
        </table>
        </td>
    </tr>
    <% } %>
    </tbody>
    <tfoot>
    <tr>
        <td></td>
        <td class="hidden-xs"></td>
        <td class="hidden-xs"></td>
        <td class="hidden-xs"></td>
        <td class="text-right">Total Market Value</td>
        <td class="text-right"><%= formatters.money(portfolio['total']) %></td>
    </tr>
    </tfoot>
    </table>

    </script>
    <script type="text/html" id="header_tmpl">
    <div class="row">
        <div class="col-xs-6 vcenter">
            <h1>My Portfolio</h1>
        </div><!--
     --><div class="col-xs-6 vcenter">
            <p class="pull-right">
                <a class="btn btn-info" href="/logout">Logout</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <p>1 USD = <%= portfolio['usdcad'] %> CAD</p>
        </div>
        <div class="col-xs-6">
            <p class="pull-right">As Of <%= formatters.dt(portfolio['asof']) %></p>
        </div>
    </div>
    </script>    
    <script>

        var formatters = {
            money: function(val){
                return val.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            },
            pct: function(val){
                return (val * 100).toFixed(2) + '%';
            },
            dt: function(val){
                return (new Date(val * 1000)).toString();    
            }
        };

        var hidden;
        var num_expanded = 0; 
        var $container, $header, $table;

        if (typeof document.hidden !== "undefined") {
            hidden = "hidden";
        } else if (typeof document.mozHidden !== "undefined") {
            hidden = "mozHidden";
        } else if (typeof document.msHidden !== "undefined") {
            hidden = "msHidden";
        } else if (typeof document.webkitHidden !== "undefined") {
            hidden = "webkitHidden";
        }    

        function refresh(){
            if(!document[hidden] && num_expanded <= 0){
                $.ajax('/positions', {
                    success: function(data){
                        render(data);
                    },
                    error: function(){
                        $('body').find('.error').show();
                    }
                });
            }
        }

        function render(data){
            $container.html($header(data))
                      .append($table(data));
            $container.find('.catdtl').on('show.bs.collapse', function(){
                num_expanded++;
            }).on('hide.bs.collapse', function(){
                num_expanded--;
            });
        }

        $(document).ready(function(e){
            $container = $('.container');
            $header = tmpl('header_tmpl');
            $table = tmpl('table_tmpl');
            render({portfolio:{{portfolio|tojson|safe}}});
            setInterval(refresh, 10000);
        });
    </script>
</head>
<body>
<div class="container">
</div>
</body>
</html>
